stages:
  - test

e2e-1:
  stage: test
  image: mcr.microsoft.com/playwright:v1.22.0-focal
  before_script:
    - npm ci
  script:
    - npx playwright test --shard=1/3
  artifacts:
    paths:
      - my-reports/

e2e-2:
  stage: test
  image: mcr.microsoft.com/playwright:v1.22.0-focal
  before_script:
    - npm ci
  script:
    - npx playwright test --shard=2/3
  artifacts:
    paths:
      - my-reports/

e2e-3:
  stage: test
  image: mcr.microsoft.com/playwright:v1.22.0-focal
  before_script:
    - npm ci
  script:
    - npx playwright test --shard=3/3
  artifacts:
    paths:
      - my-reports/
